:root {
    --font-color: #495159;
    --pink: #a87b05;
    --light-pink: #e0c451;
    --light-pink-two:  #deaa0e;    
    --coral: #deaa0e;
    --orange:#f5cf5c;
    --light-orange:#deaa0e6c;
    --grey: #888888;
}