:root {
    --font-color: #495159;
    --pink: #eb9892;
    --light-pink: #f5d0c3;
    --light-pink-two:  #FAC9B8;    
    --coral: #e8917b;
    --orange:#fa936e;
    --light-orange:#f8936e85;
    --caqui: #f8e8c7;
    --grey: #888888;

}