.container {
    margin: 5px;
}
.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    height: 52px;
    width: 52px;
}

.text {
    font-size: medium;
}