@import '../../../UI/Colors/colors.module.css';

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicators>button {
    margin: 5px;
}

.arrow {
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid var(--caqui);
    border-right: 1vmin solid var(--caqui);
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    top:50%
}

.arrowLeft {
    left: 2%;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.arrowRight {
    right: 2%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
}


.arrow:hover {
    border-color: var(--coral);
    box-shadow: 0.5vmin -0.5vmin 0 var(--caqui);
}

.arrow:before { 
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-60%) rotate(45deg);
    width: 200%;
    height: 200%;
}