.eventContainer {
    margin: 0 auto;
    padding-top: 50px;
}

.eventTitle {
    text-transform: uppercase;
    color: var(--color-3);
    font-size: xx-large;
    padding-bottom: 10px;
}

.eventText {
    font-size: large;
    color: var(--color-3);
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}