@import '../../UI/Colors/colors.module.css';

.eventContainer {
    margin: 0 auto;
}

h1 {
    text-transform: capitalize;
    color: var(--light-orange);
    font-size: xx-large;
    padding-bottom: 10px;
}

.imgWedding{
    max-width: 100%;
    max-height: 200px;
}

.content {
    padding-bottom: 20px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    line-height: 3rem;
    color: var(--font-color);    
}