@import '../../UI/Colors/colors.module.css';

.eventContainer {
    margin: 0 auto;
}

h1 {
    text-transform: capitalize;
    color: var(--pink);
    font-size: xx-large;
    padding-bottom: 10px;
}

.content {
    padding-bottom: 20px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}