@import '../UI/Colors/colors.module.css';

.recomendation {
    padding: 40px 0;
}

.message {
    padding: 15px 0;
    margin: 0 auto;
    width: 80%;
    font-size: large;
}

.list {
    list-style: none;
    width: 95%;
    margin: 0 auto;
}

.list .item::before {
    content: "\2022";
    color: var(--coral);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


@media only screen and (max-width: 450px){
    .list {
        width: 80%;
    }
}


@media only screen and (max-width: 1100px) and (min-width: 450px) {
    .list {
        width: 85%;
    }
}

@media only screen and (min-width: 1100px) {
    .list {
        width: 95%;
    }
}