.container {
    height: auto;
    min-height: 500px;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgParty {
    margin: 20px auto;
    width: 150px;
    height: auto;
}