@import '../UI/Colors/colors.module.css';

.card {
    background-color: var(--light-pink);
    min-height: 360px;
    height: max-content;
    grid-template-rows: 2fr 1fr 2fr;
    display: grid;
    justify-content: center;
}

.ringImg {
    align-self: center;
    width: 102px;
    height: 90px;
    margin: 0 auto;
    grid-row: 1 / 2;
}

.body {
    grid-row: 3 / 4;
    font-size: large;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline;
    white-space: pre-line;
}