@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
.card {
    background-color: #f5d0c3;
    height: 360px;
    grid-template-rows: 2fr 1fr 1fr;
    display: grid;
    justify-content: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.ringImg {
    align-self: center;
    width: 102px;
    height: 90px;
    margin: 0 auto;
    grid-row: 1 / 2;
}

.body {
    grid-row: 3 / 4;
    font-size: 25px;
}