.rsvpContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #f8e8c7;
}

.rsvpImg {
    margin: 0 auto;
    margin-top: 15px;
    width: auto;
    height: auto;
}

.sub {
    white-space: pre-line;
    font-size: large;
    color: #495159;
    padding: 20px;
}