@import '../UI/Colors/colors.module.css';

.rsvpContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 70px 0;
    background-color: var(--caqui);
}

.rsvpImg {
    margin: 0 auto;
    padding-left: 25px;
    width: auto;
    height: 120px;
}

.sub {
    font-size: x-large;
    color: var(--font-color);
    padding: 20px;
}