@font-face {
  font-family: 'fabella';
  src: url('../../../assets/fonts/fabella-flower.woff2') format('woff2'), 
       url('../../../assets/fonts/fabella-flower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.textWrapper {
  text-align: center;
  font-family: 'fabella';
  font-weight: normal;
  font-style: normal;
}

.headline {
  font-size: 20rem;
  color: black;
  font-weight: 100;
  line-height: 0.5;
}

.headline::first-letter {
  font-size: 25rem;
}

.subHeadline {
  color: var(--pink);
  font-size: 20rem;
}

.parallax {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.date {
  position: relative;
  bottom: -6%;
  margin: 0 auto;
  font-size: x-large;
  color: var(--pink);
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: 10rem;
    font-weight: 100;
    line-height: 0.5;
  }
  .headline::first-letter {
    font-size: 12rem;
  }
  .subHeadline {
    font-size: 10rem;
  }
  .date {
    font-size: large;
  }
}

@media only screen and (min-width: 600px) {
  .headline {
    font-size: 20rem;
    font-weight: 100;
    line-height: 0.5;
  }
  .headline::first-letter {
    font-size: 25rem;
  }
  .subHeadline {
    font-size: 20rem;
  }
  .date {
    color: var(--pink);
    font-size: x-large;
  }
}