@font-face {
  font-family: 'fabella';
  src: url('../../../assets/fonts/fabella-flower.woff2') format('woff2'),
   url('../../../assets/fonts/fabella-flower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Roboto:wght@100&display=swap');

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-image: url('../../../assets/background/3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.textWrapper {
  text-align: center;
  font-family: 'fabella';
  font-weight: normal;
  font-style: normal;
}

.headline {
  font-size: 20rem;
  color: black;
  font-weight: 100;
  line-height: 0.5;
}

.name {
  font-family: 'Fleur De Leah', cursive;
  position: relative;
  margin: 0 auto;
  font-size: 8rem;
  color: var(--black);
  font-weight: 100;
  line-height: 0.5;
}

.date {
  position: relative;
  bottom: -3%;
  margin: 0 auto;
  font-size: x-large;
  color: var(--dark-beige);
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: 10rem;
    font-weight: 100;
    line-height: 0.5;
  }

  .name {
    font-size: 6rem;
    font-weight: 100;
    line-height: 0.5;
  }

  .headline::first-letter {
    font-size: 12rem;
  }

  .subHeadline {
    font-size: 10rem;
  }

  .date {
    font-size: large;
  }
}

@media only screen and (min-width: 600px) {
  .headline {
    font-size: 20rem;
    font-weight: 100;
    line-height: 0.5;
  }

  .name {
    font-size: 10rem;
    font-weight: 100;
    line-height: 0.5;
    margin-bottom: 15px;
  }

  .headline::first-letter {
    font-size: 25rem;
  }

  .subHeadline {
    font-size: 20rem;
  }

  .date {
    color: var(--pink);
    font-size: x-large;
  }
}

@media only screen and (min-width: 850px) {
  .header {
    background-image: url('../../../assets/background/4.png');
    height: auto;
    min-height: 700px;
  }
}


