.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  margin-top: 50vh;
  position: relative;
}

.curve {
  position: absolute;
  top: -45px;
}

.date {
  color: var(--grey);
  font-size: 3rem;
  border: 1px solid var(--grey);
  padding: 0px 20px;
  width: 80%;
  margin: 0 auto;
}

.textWrapper {
  padding-top: 5rem;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  width: 70%;
}

.headline {
  font-size: 20rem;
  color: black;
  font-weight: 100;
  line-height: 0.5;
}

.name {
  font-size: 7rem;
  font-family: var(--font-2);
  font-weight: bold;
  color: var(--lavanda-1);
  padding: 0px;
}

.separatorWrapper {
  display: flex;
  align-items: center;
}

.separator {
  font-size: 3rem;
  font-family: var(--font-2);
  font-weight: bold;
  color: var(--background);
  background-color: var(--lavanda-2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 8px;
  border: 2px solid var(--lavanda-2);
  text-align: center;
  margin: 0 auto;
}

.line {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: var(--lavanda-2);
}