.container {
    width: 100%;
    height: auto;
    position: relative;
}
 .parallax {
    background-image: url('../../assets/music-background.jpg');
    width: auto;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .title {
   font-family: var(--font-2);
   font-size: 50px;
   color: #fff;
   padding-top: 40px;
   text-shadow: 5px 5px 2px var(--color-4);
 }

 .text {
   padding-top: 10px;
   padding-bottom: 30px;
   font-size: 20px;
   color: var(--color-4);
 }

 .hg{
   font-size: 60px;
   color: #fff;
   font-weight: 700;
   font-family: var(--font-2);
   text-shadow: 5px 5px 2px var(--color-4);
 }