@import '../../UI/Colors/colors.module.css';

.footer {
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f5d0c3;
    display: inline-flex;
    line-height: normal;
    font-size: x-large;
    margin: 0 auto;
}

.background {
    background-color: #f5d0c3;
}

@media only screen and (max-width: 500px) {
    .footer {
        width: 95%;
    }
}

@media only screen and (min-width: 500px) {
    .footer {
        width: 100%;
    }
}