@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
@import 'components/UI/Colors/colors.module.css';

.App {
  text-align: center;
  color: var(--font-color);
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  z-index: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --max-width: 900px;
}