@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Open+Sans:wght@300;400;700&family=Suranna&display=swap');

.App {
  text-align: center;
  color: #495159;
  font-family: 'Open Sans', sans-serif;
  z-index: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --max-width: 900px;
  --font-2: 'Fraunces', serif;
  
  --color-1: #e4c4a1;
  --color-2: #D9D9D9;  
  --color-4: #C8A783;
  --color-3: #B27E49;
}