.photosCarousel {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.message {
    font-size: large;
    margin-bottom: 50px;
}

.carouselImg {
    width: 119px;
    height: 103px;
    margin: 0 auto;
}

.hashtag {
    padding: 20px 0;
}

.igHashtag {
    color: var(--orange);
}

.photos {
    width: 75%;
    height: auto;
}